.airpods-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 8.5%;
    background-color: #F5F5F7;
    gap: 30px;
}

.airpods-main h1 {
    font-size: 7em;
    font-weight: 500;
    margin: 0;
}

.airpods-main h2 {
    font-weight: 400;
    margin: 0;
}

.airpods-main h3 {
    margin: 5px;
}

.airpods-main .button-wrapper {
    margin-top: auto;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.airpods-video button {
    background-color: white;
    color: black;
}

.airpods-video .learn-more-link {
    color: white;
}

.airpods-video {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    height: 820px;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.airpods-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 100%;
}

.airpods-3rd-gen, .airpods-2nd-gen, .airpods-max {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    height: 680px;
    width: 100%;
    background-color: #FFFFFF;
}

.airpods-3rd-gen .airpods-text, .airpods-2nd-gen .airpods-text, .airpods-max .airpods-text {
    color: black;
}

.airpods-3rd-gen img {
    height: 130%;
    width: 100%;
    object-fit: cover;
    object-position: center 300%;
}

.airpods-2nd-gen, .airpods-max { 
    display: flex;
    justify-content: center;
}

.second-airpods-image-wrapper {
    display: flex;
    gap: 150px;
}

#left-airpod {
    margin-top: 80px;
    height: 120%;
    width: auto;
}

#right-airpod {
    height: 120%;
    margin-top: 240px;
}

.airpods-max {
    align-items: center;
    height: 746px;
}

.airpods-max h1 {
    font-size: 12em;
}

.airpods-max img {
    height: 80%;
    margin-bottom: 50px;
    z-index: 999;
}
