.cart-preview {
    display: none;
    flex-direction: column;
    padding: 60px 25% 80px;
    background-color: #161617;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    animation: slide-down 0.5s ease-in-out, slide-up 0.5 ease-in-out;
    z-index: 998;
    gap: 30px;

    opacity: 0;
    transition: opacity 0.5s ease-in-out 2s;
}

.cart-preview.active {
    display: flex;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.cart-preview ~ *:not(.cart-preview):not(:first-child):not(.iphone-banner):not(.airpods-banner) {
    filter: blur(0);
    transition: filter 0.5s ease-in-out;
}

.cart-preview.active ~ *:not(.cart-preview):not(:first-child):not(.iphone-banner):not(.airpods-banner) {
    filter: blur(5px);
    transition: filter 0.5s ease-in-out 0.2s;
  }
  
  

.cart-preview a {
    color: #0071e3;
    text-decoration: underline;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cart-preview ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.cart-preview li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-preview p {
    color: darkgray;
}

.cart-preview svg {
    fill: darkgray;
}

.bag-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bag-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-bag-button {
    background-color: #0071e3;
    color: white;
    border: 0;
    border-radius: 24px;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 1em;
    cursor: pointer;
}

@keyframes slide-down {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
}

@keyframes slide-up {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-100%);
    }
}