.shop-iphone-link {
    cursor: pointer;
    color: #297ED3;
    transition: color 1s ease-in-out 1s;
}

.shop-iphone-link:hover {
    text-decoration: underline;
}

.iphone-banner {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 0.93em;
    background-color: #F5F5F7;
    transition: background-color 1s ease-in-out 1s, color 1s ease-in-out 1s;
    animation: slide-down 0.5s ease-in-out;
}

.iphone-banner.change {
    background-color: #297ED3;
    color: white;
    transition: background-color 1s ease-in-out, color 1s ease-in-out;
}

.shop-iphone-link.change {
    color: white;
    transition: color 1s ease-in-out;
}

@keyframes slide-down {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }