.iphone-hero-wrapper {
    color: #1D1D1F;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 950px;
}

.iphone-hero-wrapper .copy-wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iphone-hero-wrapper h1 {
    margin: 5px;
    font-size: 3em;
}

.iphone-hero-wrapper h3 {
    margin: 5px 0px 15px 0px;
    font-weight: 380;
    font-size: 1.7em;
}

.iphone-hero-wrapper img {
    height: 95%;
    object-fit: cover;
}

.iphone-hero-wrapper .image-wrapper {
    height: 650px;
}

.iphone-hero-wrapper .button-wrapper {
    color: #0071e3;
    display: flex;
    align-items: center;
}

.iphone-hero-wrapper button {
    background-color: #0071e3;
    color: white;
    border: 0;
    border-radius: 20px;
    padding: 12px;
    font-size: 0.9em;
    cursor: pointer;
}

.iphone-hero-wrapper h1 {
    font-weight: 500;
}

.iphone-hero-wrapper h4 {
    font-size: 1.5em;
    font-weight: 500;
    margin: 0;
}

.iphone-hero-wrapper h3 {
    font-size: 1.4em;
    margin: 20px;
}
.iphone-hero-wrapper p {
    color: grey;
}