.navbar {
    background-color: #454545;
    color: #DADADA;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: opacity 0.5s, backdrop-filer 0.5s, background-color 0.5s;
}

.navbar.scrolled {
    opacity: 0.95;
    backdrop-filter: blur(10px);
    background-color: rgba(18, 18, 18, 0.9);
}

.navbar.active-cart {
    background-color: #161617;
}

svg {
    fill: #DADADA;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 0.75em;
    align-items: center;
    justify-content: space-around;
}

.navbar li {
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.navbar li:hover {
    color: white;
}

.navbar li:hover svg {
    fill: white;
}


a {
    text-decoration: none;
    color: inherit;
}